{% extends 'base.html' %}
{% block content %}

<div class="container mt-4" style="font-family: 'Calibri', serif; line-height: 1.6;">
    <!-- Kop Surat -->
    <div class="text-center mb-4">
        <h4 class="mb-0"><b>TAMAN PENDIDIKAN AL-QUR'AN</b></h4>
        <h2 class="mb-0"><b>“MAFATIHUL HUDA”</b></h2>
        <p class="mb-0">Desa Bakalanrayung Kecamatan Kudu Kabupaten Jombang Provinsi Jawa Timur</p>
        <p class="mb-0">Nomor Statistik : 411.235.17.2074 | Telp. 0857-3634-0726</p>
        <hr style="border: 2px solid black;">
    </div>
