{% extends 'base.html' %}
{% block content %}


<div class="container mt-4">
    <div class="text-center mb-4">
        <h4><b>TAMAN PENDIDIKAN AL QUR'AN</b></h4>
        <h3><b>“MAFATIHUL HUDA”</b></h3>
        <p>BAKALANRAYUNG KECAMATAN KUDU – JOMBANG</p>
        <p>Nomor Statistik : 411.235.17.2074 | Telp. 0857-3634-0726</p>
        <hr>
    </div>
    <div class="text-center mb-4">
        <h3><b>LAPORAN HASIL BELAJAR</b></h3>
        <h5>Jilid {{ jilid }}</h5>
    </div>

    <!-- Identitas Murid -->
    <table class="table table-borderless w-75 mx-auto mb-4">
        <tr>
            <td><b>Nama</b></td>
            <td>: {{ murid.nama }}</td>
        </tr>
        <tr>
            <td><b>Kelas</b></td>
            <td>: {{ murid.kelas }}</td>
        </tr>
        <tr>
            <td><b>Wali Kelas</b></td>
            <td>: {{ murid.wali_kelas }}</td>
        </tr>
    </table>

    <!-- Tabel Nilai per Kategori -->
    {% for kategori, daftar in kategori_mapel.items() %}
    <h5 class="mt-4"><b>{{ kategori }}</b></h5>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th style="width: 25%;">Mata Pelajaran</th>
                <th style="width: 10%;">Nilai</th>
                <th style="width: 65%;">Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            {% for mp in daftar %}
            <tr>
                <td>{{ mp }}</td>
                <td>
                    {% if mp in nilai_dict %}
                        {{ nilai_dict[mp][0] }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if mp in nilai_dict %}
                        {{ nilai_dict[mp][1] }}
                    {% else %}
                        Belum ada deskripsi
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}

    <!-- Tombol Cetak PDF -->
    <div class="text-center mt-4">
        <a href="{{ url_for('cetak_rapot', rapot_id=rapot_id) }}" class="btn btn-success">
            Cetak Rapot PDF
        </a>
        <a href="{{ url_for('nilai_murid', id=murid['id']) }}" class="btn btn-secondary">
            ⬅ Kembali ke Nilai Murid
        </a>
    </div>
    


    <!-- Tanda Tangan -->
    <div class="row mt-5">
        <div class="col text-center">
            <p>Mengetahui,</p>
            <p>Wali Kelas</p>
            <br><br>
            <p>( {{ murid.wali_kelas }} )</p>
        </div>
        <div class="col text-center">
            <p>Peserta Didik,</p>
            <br><br><br>
            <p>( {{ murid.nama }} )</p>
        </div>
    </div>
</div>
{% endblock %}
